<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>The Country Neighbours Tour</title>
</head>
<body>
<div class="container">
    <div align="center">
        <h1>The Country Neighbours Tour</h1>
    </div>
    <div align="left">
        <form action="#" th:action="@{/index}" th:object="${formInfo}" method="post">
            <div class="form-group" th:object="${countries}">
                <label>Country:</label>
                <select th:id="countryName" th:name="countryName">
                    <option value="">select country</option>
                    <option th:each="country : ${countries}"
                            th:value="${country.name}"
                            th:text="${country.name}"></option>
                </select>
                <!--                <i th:if="${#fields.hasErrors('countryName')}" class="small" th:errorclass="fieldError"></i>-->
            </div>
            <br/>
            <br/>

            <div class="form-group">
                <label> Total budget:
                    <input th:type="text" th:id="money" th:name="money"/>
                </label>
                <!--                <i th:if="${#fields.hasErrors('money')}" class="small" th:errorclass="fieldError"></i>-->
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label> Average cost to visit country:
                    <input type="text" id="costCountry" name="costCountry"/>
                </label>
                <!--                <i th:if="${#fields.hasErrors('costCountry')}" class="small" th:errorclass="fieldError"></i>-->
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label> Currency:
                    <input type="text" id="currency" name="currency"/>
                </label>
                <!--                <i th:if="${#fields.hasErrors('currency')}" class="small" th:errorclass="fieldError"></i>-->
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label>Trip info:</label>
                <p th:text="${message}"></p>
            </div>
            <br/>
            <button type="submit" class="btn btn-info">SHOW</button>
        </form>
    </div>
</div>
</body>
</html>